.blueContainer {
    background-color: #0A2FB6;
    width: 28vw;
}

.personalImage {
    height: 80vh !important;
    width: 30vw !important;
    position: relative;
    top: 10vh;
    right: -24vw;
    border-radius: 20px;
}

.logo {
    padding: 5px !important;
}

.container {
   display: flex;
   justify-content: space-between;
   width: 100vw;
   height: 100vh;
   max-width: 100%;
}
